.air-img{
    position: relative;
    & img{
        width: 100%;
    }
}
.air-text{
    & h2{
        font-size: 35px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 35px;
        & i{
          color:$theme-color;  
          margin-right: 15px;
        }
    }
    & p{
        font-size: 16px;
    }
}
.air-video-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    & a{
    font-size: 16px;
    color: $white;
    background-image: -moz-linear-gradient( -51deg, rgb(235,18,10) 0%, rgb(255,94,20) 99%);
    background-image: -webkit-linear-gradient( -51deg, rgb(235,18,10) 0%, rgb(255,94,20) 99%);
    background-image: -ms-linear-gradient( -51deg, rgb(235,18,10) 0%, rgb(255,94,20) 99%);
	height: 80px;
	display: inline-block;
	width: 80px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
    transition: .3s;
    position: relative;
    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: inherit;
        border: 1px solid $theme-color;
        -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        transition: .3s;
     }
    }
}
@-webkit-keyframes btnIconRipple { 0% { border-width: 4px; -webkit-transform: scale(1); transform: scale(1); }
80% { border-width: 1px; -webkit-transform: scale(1.35); transform: scale(1.35); }
100% { opacity: 0; } }
.air-info{
    margin-top: 18px;
    & h2{
        font-size: 35px;
        line-height: 1;
        margin-bottom: 25px;
        font-weight: 600;
    }
    & p{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0;
        position: relative;
        padding-left: 25px;
        margin-bottom: 24px;
        &::before{
            position: absolute;
            content: "";
            background-image: -moz-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
            background-image: -webkit-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
            background-image: -ms-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
            height: 77px;
            width: 4px;
            left: 0;
            top: 7px;
        }
    }
}
.air-link{
    & ul{
        & li{
            display: flex;
            margin-bottom: 12px;
            &:last-child{margin-bottom: 0;}
            & i{
                font-size: 16px;
                color: $theme-color;
                margin-right: 17px;
                position: relative;
                top: 11px;
            }
            & span{
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color:$body-text-color;
            }
        }
    }
}
button{
    cursor: pointer;
}
.service-list li a {
	background: #f6f6f6;
	display: block;
	padding: 17px 30px;
    color: #666;
    position: relative;
    font-weight: 500;
}
.service-list li a:hover{
	background-image: -moz-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
	background-image: -webkit-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
    background-image: -ms-linear-gradient(-51deg, #eb120a 0%, #ff5e14 99%);
    color: #fff;
}
.service-list li {
	margin-bottom: 7px;
}
.service-list li a::before {
	content: "ï„";
	display: inline-block;
	padding-bottom: 0;
	position: absolute;
	top: 15px;
	right: 30px;
	font-family: "Font Awesome 5 Pro";
	color: #666;
	font-size: 18px;
}
.service-list li a:hover::before{
    color: $white;
}
.download-link li{
    padding-bottom: 12px;
    &:last-child{
        padding-bottom: 0;
    }
}
.download-link li a {
    font-size: 18px;
    color:$body-text-color;
    font-size: 18px;
    font-weight: 500;
    font-family: $poppins;
    transition: .3s;
    &:hover{
        color:$theme-color;
    }
  }
  .download-link li a i{
    color:$theme-color;
    font-size: 16px;
    margin-right: 10px;
  }
.sea-content .about-icon {
	margin-right: 12px;
}
.sea-content .about-icon i {
	font-size: 35px;
}
.sea-content .about-info h2 {
	font-size: 35px;
}
.sea-content .about-info > span {
	font-size: 14px;
}
.sea-content .about-info h2 > span {
	top: -22px;
	left: -5px;
}
.sea-info{
    & p{
        font-size:16px;
        line-height: 30px;
    }
}