/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900&display=swap'); 
 body {
	font-family: $roboto;
	font-weight: normal;
    font-style: normal;
    color:$body-text-color;
}
.img,img {
	max-width: 100%;
	@include transition(.3s);
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	@include transition(.3s);
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover
{
	color: inherit;
	text-decoration: none;
}
a,
button {
	color: inherit;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $poppins;
	color: $black;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	text-transform: normal;
	line-height: 1.1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 700;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	color: $body-text-color;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid $hr-border-color;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: $black-soft;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: $black;
	color: $white;
	text-shadow: none;
}
::-moz-selection {
	background: $black;
	color:$white;
	text-shadow: none;
}
::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: $black;
	font-size: 14px;
	opacity: 1;
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.clear{
    clear: both;
}


/*--
    - Background color
-----------------------------------------*/
.grey-bg {
	background: $grey;
}
.grey-soft-bg {
	background: $grey-soft;
}
.white-bg {
	background:$white;
}
.black-bg {
	background: $black;
}
.black-bg {
	background: $black;
}
.black-soft-bg {
	background: $black-soft
}
.theme-bg {
	background: $theme-color;
}
// .primary-bg {
// 	background: #222;
// }

/*--
    - color
-----------------------------------------*/
.white-color {
	color: $white;
}
.black-color {
	color: $black;
}
.theme-color {
	color: $theme-color;
}
// .primary-color {
// 	color: #222;
// }
/*-- Margin Top --*/
@for $i from 1 through 40 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}

/*-- Margin Bottom --*/
@for $i from 1 through 60 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 40 {
    .ml-#{5 * $i}{margin-left: 5px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 40 {
    .mr-#{5 * $i}{margin-right: 5px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 60 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 60 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 40 {
    .pl-#{5 * $i}{padding-left: 5px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 40 {
    .pr-#{5 * $i}{padding-right: 5px *$i;}
}


// others common css here :)


	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/02/2020 05:10
  	*/

	  @font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.eot");
		src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Flaticon.woff2") format("woff2"),
			 url("../fonts/Flaticon.woff") format("woff"),
			 url("../fonts/Flaticon.ttf") format("truetype"),
			 url("../fonts/Flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	  }
	  
	  @media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
		  font-family: "Flaticon";
		  src: url("./Flaticon.svg#Flaticon") format("svg");
		}
	  }
	  
	  [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	  [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
		font-family: Flaticon;
		font-style: normal;
		margin-left:0;
		line-height: 1;
	  }
	  
	  .flaticon-box:before { content: "\f100"; }
	  .flaticon-trolley:before { content: "\f101"; }
	  .flaticon-package:before { content: "\f102"; }
	  .flaticon-delivery-truck:before { content: "\f103"; }
	  .flaticon-plane:before { content: "\f104"; }
	  .flaticon-plane-1:before { content: "\f105"; }
	  .flaticon-ship:before { content: "\f106"; }
	  .flaticon-ship-1:before { content: "\f107"; }
	  .flaticon-logistic:before { content: "\f108"; }
	  .flaticon-forklift:before { content: "\f109"; }
	  .flaticon-truck-1:before { content: "\f10a"; }
	  .flaticon-aircraft:before { content: "\f10b"; }
	  .flaticon-boat:before { content: "\f10c"; }
	  .flaticon-travel:before { content: "\f10d"; }
	  .flaticon-vessel:before { content: "\f10e"; }
	  .flaticon-delivery-truck-1:before { content: "\f10f"; }
	  .flaticon-delivery:before { content: "\f110"; }
	  .flaticon-box-1:before { content: "\f111"; }
	  .flaticon-mail:before { content: "\f112"; }
	  .flaticon-box-2:before { content: "\f113"; }
	  .flaticon-scooter:before { content: "\f114"; }
	  .flaticon-boat-1:before { content: "\f115"; }
	  .flaticon-progress:before { content: "\f116"; }
	  .flaticon-email:before { content: "\f117"; }
	  .flaticon-train:before { content: "\f118"; }
	  .flaticon-rocket-launch:before { content: "\f119"; }
	  .flaticon-delivery-1:before { content: "\f11a"; }
	  .flaticon-product:before { content: "\f11b"; }
	  .flaticon-product-1:before { content: "\f11c"; }
	  .flaticon-box-3:before { content: "\f11d"; }
	  .flaticon-help:before { content: "\f11e"; }
	  .flaticon-yatch:before { content: "\f11f"; }
	  .flaticon-delivery-2:before { content: "\f120"; }
	  .flaticon-plane-2:before { content: "\f121"; }
	  .flaticon-global:before { content: "\f122"; }
	  .flaticon-luggage:before { content: "\f123"; }
	  
/* bounce-animate */
.bounce-animate {
	animation-name: float-bob;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-moz-animation-name: float-bob;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: float-bob;
	-ms-animation-duration: 2s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-animation-name: float-bob;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear; }
  
  @-webkit-keyframes float-bob {
	0% {
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); }
	50% {
	  -webkit-transform: translateY(-10px);
	  transform: translateY(-10px); }
	100% {
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); } }
  .rotateme {
	  -webkit-animation-name: rotateme;
	  animation-name: rotateme;
	  -webkit-animation-duration: 10s;
	  animation-duration: 60s;
	  -webkit-animation-iteration-count: infinite;
	  animation-iteration-count: infinite;
	  -webkit-animation-timing-function: linear;
	  animation-timing-function: linear;
  }

  @keyframes rotateme {
	  from {
		-webkit-transform: rotate(0deg);
		 transform: rotate(0deg);
	  }
	  to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes rotateme {
	  from {
		-webkit-transform: rotate(0deg);
	  }
	  to {
		-webkit-transform: rotate(360deg);
	  }
	}
	.button{cursor: pointer;}
/* scrollUp */
#scrollUp {
	background: $black;
	height: 40px;
	width: 40px;
	right: 50px;
	bottom: 77px;
	color: $white;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 40px;
}
#scrollUp:hover {
	background:#333;
}