/* 8. project */

.project-02-area{
    margin-right: 210px;
    margin-left: 210px;
}

.single-project{
    overflow: hidden;
} 
.project-img{
    overflow: hidden;
    & img{
        width: 100%;
    }
}
.single-project:hover .project-img img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.inner-project {
	box-shadow: 0px 0px 29.7px 0.3px rgba(220, 220, 220, 0.78);
	background: $white;
	margin-left: 50px;
	margin-right: 22px;
	margin-bottom: 60px;
	padding: 26px 30px 28px 30px;
	margin-top: -28px;
	z-index: 9;
	position: relative;
}
.project-text{
    overflow: hidden;
}
.project-link-info{
    overflow: hidden;
}
.project-meta{
    & > a{
        color:$body-text-color;
        font-size: 14px;
        & i{
            color:$theme-color;
            font-size: 18px;
            margin-right: 3px;
        }
    }
}
.project-link{
    & > a{
        color:$body-text-color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        margin-right: 11px;
        transition: .3s;
        &:hover{color:$theme-color}
        &:last-child{margin-right: 0;}
    }
}
.project-content{
    overflow: hidden;
	margin-top: 10px;
	margin-bottom: 8px;
    & h3{
        font-size: 24px;
        & > a{
            transition: .3s;
            color:$black;
            &:hover{color:$theme-color;}
        }
    }
}
.project-b-button{
    & > a{
        background-image: -moz-linear-gradient( -51deg, rgb(235,18,10) 0%, rgb(255,94,20) 99%);
        background-image: -webkit-linear-gradient( -51deg, rgb(235,18,10) 0%, rgb(255,94,20) 99%);
        background-image: -ms-linear-gradient( -51deg, rgb(235,18,10) 0%, rgb(255,94,20) 99%);
        height: 36px;
        width: 36px;
        line-height: 36px;
        border-radius: 50%;
        display: inline-block;
        font-size: 14px;
        color:$white;
        text-align: center;
        transition: .3s;
        &:hover{
            background: $black;
        }
    }
}
.project-button {
	overflow: hidden;
}
  
.portfolio-menu button {
	background: rgba(2, 2, 2, 0) none repeat scroll 0 0;
	border: medium none;
    color: $body-text-color;
    font-family: $poppins;
	font-size: 18px;
	line-height: 1;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	text-transform: capitalize;
	padding:0 16px;
	font-weight: 600;
    position: relative;
    letter-spacing: -.3px;
}
.portfolio-menu button:focus {
    outline: 0 none;
}
.portfolio-menu button:hover {
    color: $theme-color;
}
.portfolio-menu button.active {
	color: $theme-color;
}
.custom {
    margin: 0 -15px;
}
.portfolio-img{
    overflow: hidden;
    & > a{
        display: inline-block;
        position: relative;
        & img{
            width: 100%;
            transition: .3s;
        }
        &::before {
            background-image: -webkit-linear-gradient(-51deg, rgba(235, 18, 10, 0.85098) 0%, rgba(245, 57, 15, 0.89) 51%, rgba(255, 94, 20, 0.93) 99%, #ff5e14 100%);
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.3s;
            opacity: 0;
            z-index: 99;
        }
    }
}
.portfolio-wrapper:hover .portfolio-img > a::before{
    opacity: 1;
}
.portfolio-wrapper:hover .portfolio-img img{
    transform: scale(1.1);
}
.portfolio-text{
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 999;
    transition: .3s;
    opacity: 0;
    & h2{
        font-size: 30px;
        & > a{
            transition: .3s;
            color:$white;
        }
    }
}
.portfolio-wrapper:hover .portfolio-text{
    opacity: 1;
    top: 50%;
}
.portfolio-icon{
    & > a{
        font-size: 60px;
        color:$white;
    }
}
.single-02-project .inner-project {
	margin-bottom: 30px;
}
